<template>
  <div class="modal-overlay">
    <div class="modal">
      <span class="close-button topright" @click="closeModal">&times;</span>
      <div>
        <img class="list-image rounded" :src="getImage" alt="noImage" />
      </div>
      <div id="tile-detail-container">
        <h4>{{ getTitle }}</h4>
        <h5>{{ getAuthor }}</h5>
        <p>{{ getContent }}</p>
        <a :href="getUrl" target="_blank">Go to url page</a>
        <p id="published-date">{{ getPublishedDate }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import { SET_NEWS_MODAL } from '@/store/action.type';
import { mapGetters } from 'vuex';
import { getFormattedDate } from '../commons/utils';
export default {
  methods: {
    closeModal() {
      this.$store.dispatch(SET_NEWS_MODAL, null);
    },
  },
  computed: {
    ...mapGetters(['getNewsModalData']),
    noImage() {
      return require('../assets/no-image-icon-6.png');
    },
    getImage() {
      return this.getNewsModalData
        ? this.getNewsModalData.urlToImage ? this.getNewsModalData.urlToImage : this.noImage  : '';
    },
    getTitle() {
      return this.getNewsModalData ? this.getNewsModalData.title : '';
    },
    getAuthor() {
      return this.getNewsModalData ? this.getNewsModalData.author ?  'Published by: ' + this.getNewsModalData.author  : '' : '';
    },
    getContent() {
      return this.getNewsModalData ? this.getNewsModalData.content : '';
    },
    getUrl() {
      return this.getNewsModalData ? this.getNewsModalData.url : '';
    },
    getPublishedDate() {
      return this.getNewsModalData
        ? 'Published: ' +  getFormattedDate(this.getNewsModalData.publishedAt)
        : '';
    },
  },
};
</script>
<style scoped>
#published-date {
    padding: 5px;
}
.close-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}
.topright {
  display: flex;
  justify-content: right;
  padding: 0 10px 0 0;
}
h5 {
  margin: 0;
  padding: 10px 0 10px 0;
  color: gray;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
}
hr {
  margin-bottom: 0;
}
#date-container {
  padding: 1px 1px 1px 5px;
  margin: 0;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: gray;
  font-size: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-align: center;
}
a {
  background-color: #555555;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
}

#tile-detail-container {
  padding: 5px;
  max-width: 100%;
  max-height: 100%;
}
img {
  max-width: 50%;
  height: 200px;
  /* max-height: 100%; */
}
div {
  max-width: 100%;
  max-height: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 250px;
  margin: 8px;
}
h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
  padding: 5px;
  margin: 0;
}

.modal-overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: #000000da;
}

.modal {
  text-align: center;
  display: flex;
  background-color: white;
  max-height: 50%;
  max-width: 60%;
  margin-top: 10%;
  padding: 10px 0 0 0;
  border-radius: 10px;
  flex-direction: column;
}
.close {
  margin: 10% 0 0 16px;
  cursor: pointer;
}

.close-img {
  width: 25px;
}

.check {
  width: 150px;
}

h6 {
  font-weight: 500;
  font-size: 28px;
  margin: 20px 0;
}

button {
  background-color: #ac003e;
  width: 150px;
  height: 40px;
  color: white;
  font-size: 14px;
  border-radius: 16px;
  margin-top: 50px;
}
</style>
