<template>
  <div class="container">
    <div>
      <img
        class="list-image rounded"
        :src="data.urlToImage ? data.urlToImage : noImage"
        alt="no image"
      />
    </div>
    <div id="tile-detail-container">
      <h4>{{ data.title }}</h4>
      <h5>{{ data.author }}</h5>
      <p>{{ data.content }}</p>
      <a @click="setNewsModal()">Go to details</a>
      <hr />
      <div id="date-container">
        <p>{{ getPublishedDate }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import { SET_NEWS_MODAL } from '@/store/action.type';
import { getFormattedDate } from '../commons/utils';
export default {
  props: {
    data: {},
  },
  computed: {
    getPublishedDate() {
      return 'Published: ' +  getFormattedDate(this.data.publishedAt);
    },
    noImage() {
      return require('../assets/no-image-icon-6.png');
    },
  },
  methods: {
    setNewsModal() {
      this.$store.dispatch(SET_NEWS_MODAL, this.data);
    },
  },
};
</script>
<style scoped>
h5 {
  margin: 0;
  padding: 10px 5px 10px 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
}
hr {
  margin-bottom: 0;
}
#date-container {
  padding: 5px 5px 5px 10px;
  text-align: left;
  background-color: gainsboro;
  margin: 0;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: gray;
  font-size: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-align: justify;
  padding: 0 5px 0 5px;
}
a {
  background-color: #555555;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
}

#tile-detail-container {
  max-width: 100%;
  max-height: 100%;
}
img {
  max-width: 100%;
  max-height: 100%;
  height: 150px;
  width: 300px;
}
div {
  max-width: 100%;
  max-height: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 250px;
  margin: 8px;
}
h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
  padding: 5px;
  margin: 0;
}
</style>
