<template>
  <news-detail-modal v-show="showNewsModal" />
  <div id="main-container" class="column-container">
    <div id="header-container" class="row-container">
      <h1>NEWS PAPER APPLICATION</h1>
    </div>
    <div id="search-page-container" class="row-container">
      <label class="custom-select">
        <select
          name="country"
          id="country"
          v-model="selectedCountry"
          @change="filter()"
        >
          <option
            v-for="country in countries"
            :key="country"
            :value="country.Code"
          >
            {{ country.Name }}
          </option>
        </select>
      </label>
      <label class="custom-select">
        <select
          name="category"
          id="category"
          v-model="selectedCategory"
          @change="filter()"
        >
          <option
            v-for="category in categories"
            :key="category"
            :value="category"
          >
            {{ category }}
          </option>
        </select>
      </label>
      <div class="row-container">
        <input type="text" v-model="searchText" @keyup.enter="getResult()" />
        <button id="find-button" @click="filter()" type="submit">
          <i class="fa fa-search" />
        </button>
      </div>
    </div>
    <div id="result-container" class="row-container">
      <h4>{{ getPageSize }} results</h4>
    </div>
    <div id="search-tile-container" class="row-container">
      <div v-if="getLoader" class="loader"></div>
      <news-tile-page
        v-else
        :data="value"
        v-for="(value, key) in getNewsLists"
        :key="key"
      />
    </div>
    <div id="footer-container">
      <button @click="morePage()" id="more-button">More</button>
    </div>
  </div>
</template>
<script>
import { FETCH_NEWS_LIST } from '@/store/action.type';
import NewsTilePage from './NewsTilePage.vue';
import { mapGetters } from 'vuex';
import NewsDetailModal from './NewsDetailModal.vue';
const countriesData = require('../commons/countries.json');

export default {
  data() {
    return {
      countries: countriesData,
      categories: [
        'business',
        'entertainment',
        'general',
        'health',
        'science',
        'sports',
        'technology',
      ],
      selectedCountry: 'PH',
      selectedCategory: 'entertainment',
      searchText: '',
      pageSize: 10,
    };
  },
  components: { NewsTilePage, NewsDetailModal },
  mounted() {
    this.getResult();
  },
  computed: {
    ...mapGetters(['getNewsLists', 'getLoader', 'getNewsModalData']),
    getPageSize() {
      return this.getNewsLists.length;
    },
    showNewsModal() {
      return this.getNewsModalData;
    },
  },
  methods: {
    filter() {
      this.pageSize = 10;
      this.getResult();
    },
    getResult() {
      this.$store.dispatch(FETCH_NEWS_LIST, {
        country: this.selectedCountry.toLowerCase(),
        category: this.selectedCategory,
        q: this.searchText ? this.searchText : ' ',
        pageSize: this.pageSize,
      });
    },
    morePage() {
      this.pageSize += 10;
      this.getResult();
    },
  },
};
</script>
<style scoped>
#footer-container {
  background-color: rgb(245, 243, 243);
  justify-content: center;
}
#more-button {
  background-color: #555555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
}
#more-button:hover {
  opacity: 1;
}
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #b6b6b6;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#find-button {
  height: 38px;
  width: 38px;
  border-style: none;
  opacity: 0.6;
  transition: 0.3s;
}

#find-button:hover {
  opacity: 1;
}
.column-container {
  display: flex;
  flex-direction: column;
}
.row-container {
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
#header-container {
  background-color: gray;
  justify-content: center;
}
#result-container {
  background-color: rgb(245, 243, 243);
  justify-content: center;
}
#search-page-container {
  background-color: rgb(192, 189, 189);
  justify-content: center;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 12px;
}
#search-tile-container {
  background-color: rgb(245, 243, 243);
  align-content: flex-start;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
select,
input {
  margin: 5px;
}
input {
  border: 1px solid #b6b6b6;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  margin: 0;
  display: block;
  cursor: pointer;
  padding: 11px 11px 11px 11px;
  font-size: 14px;
}
.custom-select {
  position: relative;
  display: block;
  max-width: 400px;
  min-width: 200px;
}
.custom-select select {
  border: 1px solid #b6b6b6;
  outline: none;
  -webkit-appearance: listbox !important;
  border-radius: 0;
  margin: 0;
  display: block;
  width: 100%;
  cursor: pointer;
  padding: 10px 10px 10px 10px;
  font-size: 14px;
}
.custom-select:after {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  line-height: 50px;
  content: '\25BC';
  text-align: center;
  z-index: -1;
  background: #b6b6b6;
  color: #fff;
  font-size: 18px;
}
</style>
