<template>
  <news-search-page></news-search-page>
</template>

<script>
import NewsSearchPage from './components/NewsSearchPage.vue';

export default {
  name: 'App',
  components: {
    NewsSearchPage,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
